/*=================================GERAL================================*/
	* {
		margin: 0;
		padding: 0;
	}

	body {
		font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
		background: #f3f2ee url(../imagens/fundo.png) repeat-x center top;
	}

	#container {
		width: 1200px;
		margin: 0 auto;
	}

	a:active, a:visited, a:link {
		color: #af670a;
		text-decoration: none;
	}

	a:hover {
		color: #227115;
	}
/*=================================GERAL================================*/






/*=================================TOPO=================================*/
	header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		height: 90px;
		padding-right: 50px;
	}

	#logo {
		width: 250px;
		height: 21px;
		cursor: pointer;
	}


	nav ul {
		list-style: none;
	}

	nav li {
		padding: 10px;
		display: inline;
	}

	nav a {
		color: #895b2d;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.9em;
	}

	nav a:hover {
		border-bottom: 1px solid #535858;
	}

/*=================================TOPO=================================*/






/*===============================PRINCIPAL===============================*/
	article {
		width: 65%;
		float: left;
	}

	#info {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.card-info {
		margin: 20px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 42%;
	}

	#info h2 {
		color: #227115;
		text-transform: uppercase;
		font-size: 1.2em;
		margin-bottom: 15px;
	}

	#info ul, footer ul {
		list-style: disc;
	}

	#info li, footer li {
		display: block;
		padding: 1px 0;
	}

/*===============================PRINCIPAL===============================*/






/*===============================LATERAL===============================*/
	aside {
		width: 32%;
		float: right;
		margin-bottom: 20px;
	}

	#visita {
		margin-top: 20px;
		background-color: #cdc8b1;
		padding: 17px 27px 27px 27px;
	}

	h3 {
		font-size: 1.2em;
		color: #86521a;
		text-transform: uppercase;
		padding-bottom: 15px;
	}

	.texto-cadastro {
		margin-left: 20px;
	}

	.submit {
		width: 100%;
		margin-top: 20px;
		padding: 15px;
		background-color: #9c9076;
		font-size: 1.2em;
		color: white;
		border: none;
		cursor: pointer;
		border-radius: 40px;
	}

	#area-galeria {
		background-color: #ede6de;
		padding: 30px;
	}

	#galeria {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#galeria a {
		background: url(../imagens/fundo-foto.png) no-repeat top;
		background-size: cover;
		position: relative;
		width: 122px;
		height: 122px;
		margin: 20px;
	}

	#galeria img {
		position: absolute;
		top: 17px;
		left: 15px;
	}
/*===============================LATERAL===============================*/







/*===============================RODAPÉ===============================*/
	footer {
		clear: both;
		background: url(../imagens/fundo-rodape.png) no-repeat top ;
		text-align: center;
		padding: 35px;
		margin-bottom: 30px;
	}

	footer ul {
		margin-bottom: 15px;
	}

	footer li {
		display: inline;
		margin: 10px;
	}
/*===============================RODAPÉ===============================*/

